.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    border-bottom: 2px solid #64748b;
    
}

.cart-item-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    gap: 1rem;
    font-size: 1.2rem;
    margin: 2rem 0 1rem;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.cart-item-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px double white;
}

.cart-price {
    font-size: 1rem;
    font-weight: bold;
    color: #94a3b8;
}

.cart-amount {
    border: 1px solid #64748b;
    color: #64748b;
    border-radius: 10px;
    padding: 0.2rem 1rem;
    width: 5rem;
}

.cart-item-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.cart-item-actions button {
    margin: 0 5px;
    width: 1.75rem;
    height: 1.75rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.remove-item {
    cursor: pointer;
    font-size: 0.7rem;
}

.remove-item {
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  background: transparent;
  color: #6366f1;
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: ease 0.3s;
  text-decoration: none;
  border: 1px solid #6366f1;
}

.remove-item:hover, .remove-item:active {
  background: rgba(99, 102, 241, 0.1);
  box-shadow: 0 0 20px rgba(99, 102, 241, 0.2);
}

@media (max-width: 900px) {
    .cart-item-title {
        font-size: 1rem;
    }
    .cart-item-image {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 720px) {
    .cart-item-image {
        width: 40px;
        height: 40px;
    }
    .cart-item-title {
        width: 100%;
    }
    .cart-item-actions button {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1rem;
        cursor: pointer;
    }
    .cart-item {
        flex-wrap: wrap;
        padding-bottom: 1rem;
    }
}