.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
}

.cart-modal {
  position: fixed;
  top: 5rem;
  right: 1rem;
  width: 80%;
  max-width: 700px;
  z-index: 30;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: #131829;
  color: #e2e8f0;
  text-align: center;
  padding: 1rem;
}

.cart-modal h2 {
  font-size: 1.4rem;
  color: #8b5cf6;
}

.cart-modal ul {
  list-style: none;
  max-height: 30rem;
  overflow: auto;
}

.cart-total {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: right;
    margin: 15px 4rem 35px;
    color: #94a3b8;
}

.cart-total span {
    font-size: 1rem;
    color: #64748b;
}

.cart-actions {
  margin: 2rem 1rem 0;
}

.cart-modal p {
  font-size: 1.1rem;
  color: #64748b;
}

@media (max-width:900px) {
  .cart-modal p {
    font-size: 1rem;
  }
  .cart-modal h2 {
    font-size: 1.2rem;
  }
}

@media (max-width:720px) {
  .cart-modal {
    width: 90%;
  }
  .cart-modal p {
    font-size: 0.9rem;
  }
  .cart-modal h2 {
    font-size: 1.1rem;
  }
  .cart-modal button {
    font-size: 0.7rem;
  }
  .cart-total {
    font-size: 1.1rem;
  }
  .cart-total span {
    font-size: 0.9rem;
  }
  .cart-actions {
    margin: 0.7rem;
  }
}
