.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 3rem auto;
    color: #94a3b8;
    background-color: #0a0e27;
    border-radius: 20px;
}

.container h2 {
    width: 100%;
    color: #8b5cf6;
    text-align: center;
    margin: 2rem 0 1rem;
}