.product-item-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 3rem auto;
  max-width: 1200px;
  background-color: #0a0e27;
  color: #e2e8f0;
  padding: 2rem;
  border-radius: 15px;
}

.product-item-images-small {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}

.product-item-images-small img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  border: 2px double #e2e8f0;
}

.product-item-details-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  gap: 5rem;
}

.product-item-details-image button {
  font-size: 1rem;
}

.product-item-details-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  border: 4px double #e2e8f0;;
}

.product-item-details-image img:hover {
    cursor: zoom-in;
}

.zoom {
  position: fixed;
  transform: translate(-50%,-50%) scale(2.1);
  top: 50%;
  left: 50%;
  border: 3px double white;
  background-color: black;
}

.zoom:hover {
  cursor: zoom-out;
}

.product-item-details-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.product-item-details-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    color: #8b5cf6;
}

.product-item-details-title p {
    background-color: #6366f1;
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: #e2e8f0;
    text-align: center;
    border-radius: 20px;
}

.product-item-details-description {
    font-size: 1.2rem;
    display: flex;
    color: #94a3b8;
    flex-direction: column;
    text-align: justify;
}

.rating {
    font-size: 1.4rem;
    font-weight: bold;
    color: #e2e8f0;
    height: 8rem;
    text-align: right;
    padding-top: 3.5rem;
}