.product-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  text-align: center;
  width: 45%;
  padding: 1.5rem 0;
  color: #64748b;
  background-color: #1a1f3a;
  border-radius: 10px;
}

.product-item h3 {
  margin-bottom: 0px;
  color: #6366f1;
}

.product-item-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-item img {
  margin: 1rem 0;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.product-details {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.product-item a {
  text-decoration: none;
  color: #94a3b8;
}

.product-item a:hover,
.product-item a:active,
.product-item a.active {
  text-decoration: underline;
  color: #94a3b8;
}