.product-item-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2rem auto 0;
  max-width: 90%;
  width: 1200px;
  background-color: #0a0e27;
  color: #e2e8f0;
  padding: 2rem;
  border-radius: 15px;
}

.product-images {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 2rem 0 0;
}

.product-item-images-small {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}

.product-item-images-small img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  border: 2px double #e2e8f0;
}

.product-item-details-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 2rem;
  gap: 5rem;
}

.product-item-details-image button {
  font-size: 1rem;
}

.product-item-details-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  border: 4px double #e2e8f0;;
}

.product-item-details-image img:hover {
    cursor: zoom-in;
}

.zoom {
  position: fixed;
  transform: translate(-50%,-50%) scale(2.1);
  top: 50%;
  left: 50%;
  border: 3px double white;
  background-color: black;
}

.zoom:hover {
  cursor: zoom-out;
}

.product-item-details-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.product-item-details-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    color: #8b5cf6;
}

.product-item-details-title p {
    background-color: #6366f1;
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: #e2e8f0;
    text-align: center;
    border-radius: 20px;
}

.product-item-details-description {
    font-size: 1.1rem;
    display: flex;
    color: #94a3b8;
    flex-direction: column;
    text-align: justify;
}

.rating {
    font-size: 1.2rem;
    font-weight: bold;
    color: #e2e8f0;
    text-align: right;
}

@media (max-width: 900px) {
  .product-item-images-small {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.8rem;
  }

  .product-images {
    flex-direction: column;
    gap: 1rem;
  }

  .product-item-details-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    gap: 1rem;
  }

  .product-item-details-image img {
    width: 250px;
    height: 250px;
  }

  .product-item-images-small img {
    width: 30px;
    height: 30px;
  }

  .product-item-details-title {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    gap: 1rem;
  }
  .product-item-details-description {
    font-size: 0.9rem;
  }
  .rating {
    font-size: 1rem;
    padding-top: 0;
  }
  .zoom {
    transform: translate(-50%,-50%) scale(1.7);
  }
}

@media (max-width: 720px) {
  .product-item-details{
    flex-direction: column;
    gap: 2rem;
  }
  .product-item-details-image button {
    font-size: 0.8rem;
  }
  .product-item-details-image img {
    width: 250px;
    height: 250px;
  }
  .product-item-images-small img {
    width: 30px;
    height: 30px;
  }
  .rating {
    font-size: 0.8rem;
    padding-top: 0;
  }
  .zoom {
    transform: translate(-50%,-50%) scale(1.2);
  }
}