.product-item-reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3rem auto;
  width: 90%;
  max-width: 700px;
  background-color: #0a0e27;
  color: #e2e8f0;
  border-radius: 15px;
  gap: 1rem;
}

.product-item-reviews h2 {
    color: #8b5cf6
}

.review-item {
    background-color: #1a1f3a;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
}

.review-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-title h2 {
    font-style: italic;
    font-size: 1rem;
    color: #6366f1;
}

.review-description {
    width: 100%;
    margin: auto;
    font-size: 1rem;
    padding: 3rem 0;
    font-style: italic;
}

.review-rating {
    font-size: 0.9rem;
}

@media (max-width: 720px) {
  .product-item-reviews h2 {
    font-size: 1.2rem;
  }
  .review-title h2 {
    font-size: 0.9rem;
  }
  .review-description {
    font-size: 0.9rem;
  }
  .review-rating {
    font-size: 0.8rem;
  }
}