.product-item-reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3rem auto;
  max-width: 1200px;
  background-color: #0a0e27;
  color: #e2e8f0;
  padding: 2rem;
  border-radius: 15px;
  gap: 1rem;
}

.product-item-reviews h2 {
    color: #8b5cf6
}

.review-item {
    background-color: #1a1f3a;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
}

.review-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.review-title h2 {
    font-style: italic;
    font-size: 1.2rem;
    color: #6366f1;
}

.review-description {
    min-height: 12rem;
    width: 100%;
    margin: auto;
    font-size: 1.5rem;
    padding: 3rem 0;
    font-style: italic;
}

.review-rating {
    font-size: 1.2rem;
}