.add-to-cart-modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5%;
    right: 5%;
    width: 33rem;
    color: #e2e8f0;
    font-weight: bold;
    font-size: 1rem;
    z-index: 100;
    width: 25rem;
    min-height: 5rem;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    background-color: #131829;
    text-align: center;
    padding: 1.5rem;
}

.add-to-cart-modal span {
    color: #64748b;
}

@media (max-width: 900px) {
    .add-to-cart-modal {
        right: 50%;
        transform: translate(50%, 0);
        width: 70%;
        font-size: 0.9rem
    }
}

@media (max-width: 720px) {
    .add-to-cart-modal {
        font-size: 0.8rem;
    }
}