.main-content {
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0a0e27;
    padding: 4rem 0 4rem;
}

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}