.main-content {
    margin: 0;
    flex: 1;
    background-color: #0a0e27;
    padding-top: 4rem;
}

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}