.about-content {
    text-align: justify;
    max-width: 800px;
    width: 90%;
    margin: 2rem auto;
    color: #94a3b8;
}

.about-content h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #8b5cf6;
}

.about-content img {
    float: right;
    margin: 20px;
    max-width: 250px;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 719px) {
    .about-content img {
        float: none;
        display: block;
        max-width: 150px;
        margin: 20px auto;
    }
    .about-content p {
        font-size: 0.9rem;
    }
}