.hero-section {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding-bottom: 1rem;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.hero-section h1 {
  color: #8b5cf6;
  font-size: 3rem;
}

.hero-section span {
  color: #fc5185;
}

.hero-section p {
  color: #94a3b8;
  font-size: 1.2rem;
}

.latest-album {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 400px;
  font-size: 1rem;
}

.latest-album button {
  font-size: 1rem;
}

@media (max-width: 720px) {
  .hero-section {
    width: 90%;
  }
  .hero-section h1 {
    font-size: 2rem;
  }
  .hero-section p {
    font-size: 1rem;
  }
  .latest-album button {
    font-size: 0.8rem;
  }
}