.hero-section {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 2rem auto;
  padding-bottom: 1rem;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.hero-section h1 {
  color: #8b5cf6;
  font-size: 3rem;
}

.hero-section span {
  color: #fc5185;
}

.hero-section p {
  color: #94a3b8;
  font-size: 1.2rem;
}

.latest-album {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  gap: 10rem;
}

.latest-album button {
  font-size: 1rem;
}