.header-cart-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-0%, -25%);
    z-index: 100;
    background-color: white;
    border: 2px solid #131829;
    color: #131829;
    padding: 2px 10px;
    border-radius: 25px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 0.6rem;
}