.header {
  font: inherit;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: #131829;
  color: #94a3b8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  z-index: 10;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 0;
  margin: 0 auto;
}

.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fc5185;
  font-size: 1.5rem;
  font-weight: bold;
}

.header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav-links {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  justify-content: space-between;
  z-index: 1000;
}

.nav-links a {
  text-decoration: none;
  color: #94a3b8;
  transition: ease 0.3s;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  color: #e2e8f0;
}

.header a {
  text-decoration: none;
}

.header-icon {
  width: 30px;
  cursor: pointer;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 100;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #FFFFFF;
    margin: 4px;
    transition: all 0.3s;
    border-radius: 2px;
}

.burger.active .line1 {
    transform: rotate(45deg) translate(7px, 7px);
    background-color: #8b5cf6;
}

.burger.active .line2 {
    opacity: 0;
}

.burger.active .line3 {
    transform: rotate(-45deg) translate(7px, -7px);
    background-color: #8b5cf6;
}

@media (max-width: 900px) {
  .header-container {
    width: 90%;
  }

  .nav-links {
    gap: 1rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 720px) {
  .burger {
    display: flex;
  }
  .nav-links {
      position: fixed;
      left: -100%;
      top: 4rem;
      flex-direction: column;
      background-color: #131829;
      width: 35%;
      text-align: left;
      transition: left 0.3s;
      gap: 0;
      z-index: 100;
  }

  .logo {
    display: none;
  }

  .nav-links li {
      padding: 0.8rem 0 0.8rem 2rem;
  }

  .nav-links li:last-child {
      border-bottom: none;
  }

  .nav-links.active {
      left: 0;
  }
}