.header {
  font: inherit;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: #131829;
  color: #94a3b8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  z-index: 10;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 0;
  margin: 0 auto;
}

.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.logo {
  color: #fc5185;
  font-size: 1.5rem;
  font-weight: bold;
}

.header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav-links {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  justify-content: space-between;
}

.nav-links a {
  text-decoration: none;
  color: #94a3b8;
  transition: ease 0.3s;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  color: #e2e8f0;
}

.header a {
  text-decoration: none;
}

.header-icon {
  width: 30px;
  cursor: pointer;
}