.tour-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
    font-size: 1.1rem;
    font-weight: 550;
    border-top: 1px solid #6366f1;
    padding-top: 15px;
}

.date {
    width: 10%;
    text-align: center;
}

.city {
    width: 20%;
    text-align: center;
}

.arena {
    padding-left: 2rem;
    width: 40%;
}

.buy-button {
    font-size: 1rem;
    margin: 1rem 0;
    background-color: #8b5cf6;
    color: #e2e8f0;
}

.buy-button:hover, .buy-button:active {
    background-color: #6366f1;
    color: #e2e8f0;
}