footer {
  background-color: #131829;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 80%;
  margin: 0 auto;
  height: 4rem;
}

.footer-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fc5185;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
}

.footer-icons img {
  width: 30px;
  border-radius: 5px;
}

.footer a {
  text-decoration: none;
}
